<%= content_tag :div, id: "#{field.name}_wrapper", class: field.html_class, 'data-dependency' => (field.dependency if field.dependency) do -%>

  <%= label_tag field.name, field.label << ("*" if field.required?).to_s %>
  <%= text_area_tag field.name, field.value, field.attributes.except(:class) %>
  <% if field.error -%><span class="error"><%= field.error %></span><% end -%>
  
<% end -%>